.OLSKViewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* @OLSKViewportFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 760px) {

.OLSKViewport {
  position: fixed;

  overflow: hidden;
}

}

.OLSKToolbarButton {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.OLSKToolbarButton:disabled {
	opacity: 0.3;
}

@media screen and (max-width: 760px) {

.OLSKViewport .OLSKToolbarButton {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

}

.OLSKLayoutElementTappable {
	cursor: pointer;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.OLSKLayoutButtonNoStyle {
	background: none;
	border: none;
	padding: 0;
}

.OLSKScreenReaderOnly {
	width: 0px;
	height: 0px;

	position: absolute;
	
	overflow: hidden;
}

.OLSKMobileSafariSmoothScrolling {
	-webkit-overflow-scrolling: touch;
}
