@media screen and (min-width: 760px) {

.OLSKViewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* OLSKViewportFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

}

@media screen and (max-width: 760px) {

.OLSKViewport {
	min-height: 100vh;

	/* OLSKViewportGrid:Parent */
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
}

.OLSKMobileViewInactive {
	position: absolute;
	left: -150vw;
}

.OLSKMobileViewHeader {
	position: sticky;
	top: 0;
}

.OLSKMobileViewFooter {
	position: sticky;
	bottom: 0;
}

}

.OLSKToolbarButton {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.OLSKToolbarButton:disabled {
	opacity: 0.3;
}

@media screen and (max-width: 760px) {

.OLSKViewport .OLSKToolbarButton {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

}

.OLSKLayoutElementTappable {
	cursor: pointer;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.OLSKLayoutElementTextVisual {
	cursor: default;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.OLSKLayoutButtonNoStyle {
	background: none;
	border: none;
	padding: 0;
}

.OLSKScreenReaderOnly {
	width: 0px;
	height: 0px;

	position: absolute;
	
	overflow: hidden;
}

.OLSKMobileSafariSmoothScrolling {
	-webkit-overflow-scrolling: touch;
}

/* OLSKApp */

:root {
	--OLSKAppBorderColor: #ddd;
	--OLSKAppBorderStyle: 1px solid var(--OLSKAppBorderColor);
}

/* OLSKCommon */

:root {
	--OLSKCommonContainerPadding: 10px;
	--OLSKCommonContainerMaxWidth: 400px;

	--OLSKCommonFontFamily: 'Lucida Grande', sans-serif;
	--OLSKCommonFontSize: 10.5pt;

	--OLSKCommonHeadingFontFamily: 'Helvetica Neue';

	--OLSKCommonBackground: white;
	--OLSKCommonForeground: black;

	--OLSKCommonBorder: 1px solid var(--OLSKCommonBorderColor);
	--OLSKCommonBorderColor: rgba(0, 0, 0, 0.3);

	--OLSKCommonInteractiveFill: hsl(0, 0%, 90%);

	--OLSKCommonInputPadding: 5px;
}

.OLSKCommon {
	padding: var(--OLSKCommonContainerPadding);

	max-width: var(--OLSKCommonContainerMaxWidth);

	margin: auto;

	background: var(--OLSKCommonBackground);
	font-family: var(--OLSKCommonFontFamily);
	font-size: var(--OLSKCommonFontSize);
	color: var(--OLSKCommonForeground);
}

.OLSKCommonBorderContainer {
	padding: 20px 20px;
	border: var(--OLSKCommonBorder);
	border-top: none;
	border-bottom: none;
}

@media (max-width: 450px) {
	.OLSKCommonBorderContainer {
		border: none;
	}
}

.OLSKCommon h1, .OLSKCommon h2, .OLSKCommon h3, .OLSKCommon h4 {
	font-family: var(--OLSKCommonHeadingFontFamily);
}

.OLSKCommon ul {
	padding-left: 30px;
}

.OLSKCommon hr {
	height: 1px;
	border: none;

	background: var(--OLSKCommonForeground);
}

.OLSKCommon input, .OLSKCommon button {	
	display: inline-block;
	padding: var(--OLSKCommonInputPadding);
	border: var(--OLSKCommonBorder);
	border-radius: var(--OLSKCommonInputPadding);
}

.OLSKCommon button, .OLSKCommon input[type="submit"] {
	background: var(--OLSKCommonInteractiveFill);
}

@media (max-width: 760px) {

.OLSKCommon button, .OLSKCommon input[type="submit"] {
	display: block;
	
	margin-top: 20px;
}

}

.OLSKCommon code {
	display: inline-block;
	padding: 3px;

	background: hsl(0, 0%, 94%);
	color: hsl(0, 0%, 20%);
}

.OLSKCommonIdentity {
	width: 70px;
	display: block;

	margin: 30px auto;
}

.OLSKCommonIdentity img {
	width: inherit;
}
