:root {
	--OLSKCommonContainerPadding: 10px;
	--OLSKCommonContainerMaxWidth: 420px;

	--OLSKCommonFontFamily: 'Lucida Grande', sans-serif;
	--OLSKCommonFontSize: 10.5pt;

	--OLSKCommonHeadingFontFamily: 'Helvetica Neue';
	--OLSKCommonQuoteFontFamily: 'Georgia', serif;

	--OLSKCommonBackground: white;
	--OLSKCommonForeground: black;

	--OLSKCommonBorderColor: rgba(0, 0, 0, 0.3);
	--OLSKCommonBorder: 1px solid var(--OLSKCommonBorderColor);

	--OLSKCommonEdgeColor: #ddd;
	--OLSKCommonEdgeBorder: 1px solid var(--OLSKCommonEdgeColor);

	--OLSKCommonInteractiveFill: hsl(0, 0%, 90%);

	--OLSKCommonInputPadding: 5px;

	--OLSKSharedPadding: 4px;
	--OLSKBorderRadius: 5px;

	--OLSKSectionSpacing: 2em;

	--OLSKMasterListItemSelectedColorDefault: #e6e6e6;
	--OLSKMasterListItemSelectedColorActive: #1a81ff;
	--OLSKMasterListItemSelectedColorActiveInverse: white;

	--OLSKAlertColor: #eeeeee;
	--OLSKCodeColor: hsl(0, 0%, 20%);
}

/* OLSKCommonEdge */

.OLSKCommonEdgeTop {
	border-top: var(--OLSKCommonEdgeBorder);
}

.OLSKCommonEdgeRight {
	border-right: var(--OLSKCommonEdgeBorder);
}

.OLSKCommonEdgeBottom {
	border-bottom: var(--OLSKCommonEdgeBorder) !important;
}

/* OLSKStickyHeader */

.OLSKStickyHeader {
	position: sticky;
	top: 0;
}

/* OLSKViewport */

@media screen and (min-width: 760px) {

.OLSKViewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* OLSKViewportFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

}

@media screen and (max-width: 760px) {

.OLSKViewport {
	min-height: 100vh;

	/* OLSKViewportGrid:Parent */
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
}

.OLSKMobileViewInactive {
	display: unset !important;

	position: absolute;
	left: -200vw;
}

.OLSKMobileViewInactive:last-child {
	left: unset;
	top: 0;
	right: 110vw;
}

.OLSKMobileViewHeader {
	position: sticky;
	top: 0;
}

.OLSKMobileViewFooter {
	position: sticky;
	bottom: 0;
}

}

/* OLSKViewportContent */

@media screen and (min-width: 760px) {

.OLSKViewportContent {
	--OLSKViewportMasterWidth: 300px;
	/* Chrome/Firefox scroll flexbox child */
	overflow: auto;

	/* OLSKViewportFlexbox:Child */
	flex-grow: 1;

	/* OLSKViewportContentFlexbox:Parent */
	display: flex;
}

.OLSKViewportContent .OLSKViewportMaster {
	/* OLSKViewportContentFlexbox:Child */
	flex-basis: var(--OLSKViewportMasterWidth);
	flex-shrink: 0;
}

.OLSKViewportContent .OLSKViewportDetail {
	/* OLSKViewportContentFlexbox:Child */
	flex-grow: 1;
}

}

/* OLSKVisibility */

@media screen and (min-width: 760px) {

.OLSKVisibilityMobile {
	display: none !important;
}

}

/* OLSKToolbar */

.OLSKToolbar {
	--OLSKToolbarButtonSize: 20px;
	--OLSKToolbarMinHeight: 32px;
	--OLSKToolbarElementSpacing: 2px;

	min-height: var(--OLSKToolbarMinHeight);
	padding: var(--OLSKSharedPadding);

	background: var(--OLSKCommonBackground);

	/* Firefox header spacing */
	line-height: 0;

	/* OLSKToolbarFlexbox:Parent */
	display: flex; 
	align-items: center;
}

@media screen and (max-width: 760px) {

.OLSKToolbar {
	--OLSKToolbarButtonSize: 24px;
	--OLSKToolbarMinHeight: 44px;
}

}

.OLSKViewport .OLSKToolbar {
	/* OLSKViewportFlexbox:Child */
	flex-shrink: 0;
}

.OLSKIsLoading .OLSKToolbar * {
	visibility: hidden;
}

.OLSKToolbarJustify {
	/* OLSKToolbarFlexbox:Parent */
	justify-content: space-between;
}

.OLSKToolbarFlexible {
	/* OLSKToolbarFlexbox:Child */
	flex-grow: 1;
}

/* OLSKToolbarElementGroup */

.OLSKToolbarElementGroup {
	margin: 0 var(--OLSKToolbarElementSpacing);
}

.OLSKToolbarElementGroup button {
	margin: 0 var(--OLSKToolbarElementSpacing);
}

@media screen and (max-width: 760px) {

.OLSKToolbarElementGroup button {
	--OLSKToolbarElementSpacing: 8px;
}

}

/* OLSKToolbarButton */

.OLSKToolbarButton {
	display: inline-block;
	width: var(--OLSKToolbarButtonSize);
	height: var(--OLSKToolbarButtonSize);
}

.OLSKToolbarButton > *, .OLSKToolbarButton svg {
	width: inherit;
	height: inherit;
}

.OLSKToolbarButton:disabled {
	opacity: 0.3;
}

.OLSKDecorTappable {
	cursor: pointer;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.OLSKDecorTextVisual {
	cursor: default;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.OLSKDecorButtonNoStyle {
	background: none;
	border: none;
	padding: 0;
}

.OLSKMobileSafariSmoothScrolling {
	-webkit-overflow-scrolling: touch;
}

.OLSKMobileSafariRemoveDefaultInputStyle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* OLSKMasterList */

.OLSKIsLoading .OLSKMasterListBody {
	visibility: hidden;
}

.OLSKMasterList {
	/* OLSKMasterListFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.OLSKMasterListToolbar {
	/* OLSKMasterListFlexbox:Child */
	flex-shrink: 0;
}

.OLSKMasterListBody {
	overflow: auto;
	
	/* OLSKMasterListFlexbox:Child */
	flex-grow: 1;
}

.OLSKMasterListBody .OLSKResultsListItemSelected .OLSKMasterListItem {
	background: var(--OLSKMasterListItemSelectedColorDefault);
}

@media screen and (min-width: 760px) {

.OLSKMasterListFocused .OLSKResultsListItemSelected .OLSKMasterListItem {
	background: var(--OLSKMasterListItemSelectedColorActive);
	color: var(--OLSKMasterListItemSelectedColorActiveInverse);
}

}

/* OLSKStorageToolbar */

.OLSKStorageToolbar .OLSKToolbarElementGroup:last-of-type {
	margin: unset !important;
}

@media (max-width: 450px) {
	.OLSKStorageToolbar .OLSKToolbarElementGroup:last-of-type {
		flex-grow: 1;
	}
}

/* OLSKDecor */

.OLSKDecor {
	padding: var(--OLSKCommonContainerPadding);

	background: var(--OLSKCommonBackground);
	font-family: var(--OLSKCommonFontFamily);
	font-size: var(--OLSKCommonFontSize);
	color: var(--OLSKCommonForeground);
}

.OLSKDecorCapped {
	max-width: var(--OLSKCommonContainerMaxWidth);

	margin: auto;
}

.OLSKDecorOutline {
	--OLSKCommonContainerPadding: 20px;

	border: var(--OLSKCommonBorder);
	border-top: none;
	border-bottom: none;
}

@media (max-width: 450px) {
	.OLSKDecorOutline {
		border: none;
	}
}

.OLSKDecor h1, .OLSKDecor h2, .OLSKDecor h3, .OLSKDecor h4 {
	font-family: var(--OLSKCommonHeadingFontFamily);
}

.OLSKDecor h1 {
	padding-bottom: var(--OLSKSharedPadding);
	border-bottom: var(--OLSKCommonEdgeBorder);

	margin-top: var(--OLSKSectionSpacing);

	font-size: calc(var(--OLSKCommonFontSize) * 1.8);
}

.OLSKDecor h2 {
	font-size: calc(var(--OLSKCommonFontSize) * 1.3);
}

.OLSKDecor ul, .OLSKDecor ol {
	padding-left: 30px;
}

.OLSKDecor blockquote {
	margin-left: 0;
	padding-left: var(--OLSKCommonContainerPadding);
	border-left: var(--OLSKCommonBorder);

	font-style: oblique;
	font-family: var(--OLSKCommonQuoteFontFamily);
	font-size: calc(var(--OLSKCommonFontSize) * 0.9);
}

.OLSKDecor hr {
	height: 1px;
	border: none;

	background: var(--OLSKCommonForeground);
}

.OLSKDecor table {
	width: 100%;
	border-collapse: collapse;

	margin: calc(var(--OLSKSectionSpacing) / 2) 0;
}

.OLSKDecor table tr td {
	padding: var(--OLSKSharedPadding);
	border-top: var(--OLSKCommonEdgeBorder);
}

.OLSKDecor input, .OLSKDecor button, .OLSKDecorPress, .OLSKDecor input[type="submit"], .OLSKDecor textarea {	
	display: inline-block;
	padding: var(--OLSKCommonInputPadding);
	border: var(--OLSKCommonBorder);
	border-radius: var(--OLSKBorderRadius);
}

.OLSKDecor button, .OLSKDecorPress, .OLSKDecor input[type="submit"] {
	background: var(--OLSKCommonInteractiveFill);
}

a.OLSKDecorPress {
	color: var(--OLSKCommonForeground);
	text-decoration: none;
}

.OLSKDecorPressCall {
	padding: calc(var(--OLSKSharedPadding) * 2.5) calc(var(--OLSKSharedPadding) * 4);
	border: 2px solid var(--OLSKCommonForeground);
	
	font-family: var(--OLSKCommonHeadingFontFamily);
	font-weight: bold;
	font-size: calc(var(--OLSKCommonFontSize) * 1.1);
	background: none;
}

.OLSKDecorPressDestroy {
	border-color: #800002;
	background: #ffefef !important;
	color: #800002;
}

.OLSKDecor code {
	display: inline-block;
	padding: var(--OLSKSharedPadding);
	border-radius: var(--OLSKBorderRadius);

	background: var(--OLSKAlertColor);
	color: var(--OLSKCodeColor);
}

/* OLSKDecorNotice */

.OLSKDecorNotice {
	padding: var(--OLSKCommonContainerPadding);
	border: 1px solid var(--OLSKCommonForeground);

	margin: calc(var(--OLSKCommonContainerPadding) * 2) 0;
}

.OLSKDecorNotice p:first-child {
	margin-top: 0;
}

.OLSKDecorNotice p:last-child {
	margin-bottom: 0;
}

.OLSKCommonAlert {
	padding: var(--OLSKCommonContainerPadding);

	background: var(--OLSKAlertColor);
}

/* OLSKCommonRootLink */

.OLSKCommonRootLink {
	width: 70px;
	display: block;

	margin: 30px auto;
}

.OLSKCommonRootLink img {
	width: inherit;
}

/* OLSKCommonCard */

.OLSKCommonCard {
	display: flex;
	align-items: center;
}

.OLSKCommonCard > img, .OLSKCommonCard > a img {
	--OLSKCommonCardImageSize: 70px;

	width: var(--OLSKCommonCardImageSize);
	min-width: var(--OLSKCommonCardImageSize);

	margin-right: calc(var(--OLSKSharedPadding) * 2);
}

.OLSKCommonCard > :last-child > :nth-child(1) {
	display: block;
	
	font-weight: bold;
	font-family: var(--OLSKCommonHeadingFontFamily);
}

/* OLSKCommonCrownCard */

.OLSKCommonCrownCard {
	margin: var(--OLSKSectionSpacing) 0;
}

.OLSKCommonCrownCard > :last-child > :nth-child(1) {
	font-size: calc(var(--OLSKCommonFontSize) * 2.5);
}

.OLSKCommonCrownCard > :last-child > :nth-child(2) {
	font-style: oblique;
}

/* OLSKCommonCrownCardMini */

.OLSKCommonCrownCardMini > img {
	--OLSKCommonCardImageSize: 32px;

	margin-right: var(--OLSKSharedPadding);
}

/* OLSKLanding */

.OLSKLanding {
	margin: calc(var(--OLSKSectionSpacing) * 2) 0;
}

.OLSKLandingHeading {
	font-size: calc(var(--OLSKCommonFontSize) * 3);
}

.OLSKLandingBlurb {
	font-size: calc(var(--OLSKCommonFontSize) * 1.2);

	opacity: 0.5;
}

/* OLSKCommonFeatureCard */

.OLSKCommonFeatureCard {
	margin: calc(var(--OLSKSectionSpacing) / 2) 0;
}

.OLSKCommonFeatureCard > img {
	--OLSKCommonCardImageSize: 54px;
}

.OLSKCommonFeatureCard > :last-child > :nth-child(1) {
	font-family: unset;
}

/* OLSKTestimonialListItem */

.OLSKTestimonialListItem {
	padding: var(--OLSKCommonContainerPadding);

	margin: calc(var(--OLSKSectionSpacing) / 2) 0;

	background: var(--OLSKCommonInteractiveFill);
}

.OLSKTestimonialListItemAuthor {
	font-size: calc(var(--OLSKCommonFontSize) * 0.8);
}

/* OLSKCommonWhatIsIt */

.OLSKCommonWhatIsIt {	
	font-weight: bold;
}

/* OLSKCommonVideoList */

.OLSKCommonVideoList {
	max-width: 350px;
}

.OLSKCommonVideoListItem {
	--OLSKCommonVideoBorderWidth: 13;
	--OLSKCommonVideoWide: 750;
	--OLSKCommonVideoHigh: 1334;
	
	padding-top: calc(((var(--OLSKCommonVideoHigh) + var(--OLSKCommonVideoBorderWidth) * var(--OLSKCommonVideoBorderWidth)) / (var(--OLSKCommonVideoWide) + var(--OLSKCommonVideoBorderWidth) * var(--OLSKCommonVideoBorderWidth))) * 100.00%);
	border: calc(var(--OLSKCommonVideoBorderWidth) * 1px) var(--OLSKCommonInteractiveFill) solid;
	border-radius: var(--OLSKBorderRadius);

  position: relative;

  overflow: hidden;
}

.OLSKCommonVideoListItem iframe {
	border: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* OLSKDecorBigForm */

.OLSKDecorBigForm p:nth-child(1) {
	margin-top: 0;
}

.OLSKDecorBigForm input[type=text], .OLSKDecorBigForm textarea {
	width: 90%;
	padding: calc(var(--OLSKSharedPadding) * 2);
	border: var(--OLSKCommonEdgeBorder);
}

/*.OLSKCommonForm input[type=text] {
	line-height: 1.7;
}*/

.OLSKDecorBigForm textarea {
	min-height: 200px;
}

.OLSKDecorBigForm hr {
	margin: 0;
	width: 90%;
	background: var(--OLSKCommonEdgeColor);
}

/* OLSKDecorX */

.OLSKDecorX a:not([href*="http"]):before {
  content: "[[";
  
  opacity: 0.5;
}

.OLSKDecorX a:not([href*="http"]):after {
  content: "]]";
  
  opacity: 0.5;
}

.OLSKDecorX a[href*="http"]:after {
  content: "◱";

  display: inline-block;

  margin-left: 3px;

  opacity: 0.5;
  text-decoration: none;
}

.OLSKDecorX * {
 max-width: 100%;
}

.OLSKDecorX img {
    border: 5px var(--OLSKCommonInteractiveFill) solid;
    border-radius: var(--OLSKBorderRadius);
}
